.usau{
    letter-spacing: 4px;
}
.hr1au
{
    border: solid 3px blueviolet;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    width: 7%;
    margin-left: 47%;
    /* color: :;    */
}